.header {
  height: 150px;
  background-color: #cdcdcd;
  background: url(../../assets//images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
